* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Quicksand", sans-serif;
  background: radial-gradient(#186a5e, #053339);
  color: #e1eeeb;
  min-height: 100vh;
}
/* Header */

.header_Container {
  max-width: 60rem;
  margin: 2rem auto;
  text-align: center;
  background-color: #000000;
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 5px 5px 5px black;
}

.header h1 {
  font-family: "Handjet", sans-serif;
  font-size: 4rem;
}
.header p {
  font-size: 1.4rem;
}

.header h1 span {
  color: aqua;
}

/* header */

/* <player> */

.player_container {
  margin: 19px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}
.player_container h2 {
  color: #068975;
}

.player_container .inputBox input {
  padding: 5px 10px;
  background-color: #034f4a0e;
  border: 2px solid #068975;
  border-radius: 5px 0px 0px 5px;
  color: #0abea3;
  font-weight: bold;
  font-size: 1rem;
  font-family: "Quicksand", sans-serif;
}
.inputBox {
  display: flex;
  align-items: center;
}
.player_container .inputBox button {
  padding: 6px;
  background-color: #068975;
  border-radius: 0px 5px 5px 0px;
  border: 3px solid #068975;
}

/* <player/> */

/* challenge  */
.challenge_main_container{
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  gap: 3.5rem;
  flex-wrap: wrap;
  margin-top: 5rem;

}
.challenge {
  width: 18rem;
  height: 18rem;
  background: rgb(39, 127, 113);
  background: linear-gradient(
    180deg,
    rgb(0, 252, 237) 40%,
    rgb(0, 251, 255) 50%
  );
  display:flex ;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border-radius: 10px;
  gap: 15px;
  color: #000000;
  
}
.challenge_time {
  height: 20px;
  width: 4.8rem;
  border: 1px solid rgb(197, 194, 194);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: small;
  font-weight: bold;
  padding: 2px;
  border-radius: 4px;
  box-shadow: 2px 2px 3px black;
  border: none;
  margin-bottom: 20px;
  
}
.challenge .Challenge_title{
  letter-spacing: 4px;
}
.challenge button{
  padding: 3px 20px;
  background-color: #000000;
  color: rgb(255, 255, 255);
  border-radius: 3px;
  font-size: small;
  font-family: "Quicksand", sans-serif;
}
.challenge_paragraph {
 
  font-weight: 700;
  font-size: small;
}

/* challenge */

/* challenge_components */
dialog
{
  
  background: rgb(39, 127, 113);
  background: linear-gradient(
    180deg,
    rgb(0, 252, 237) 40%,
    rgb(0, 251, 255) 50%
  );
  padding: 3rem;
  margin: 10px;
  border-radius: 10px;
  line-height: 30px;
  align-self: center;
  justify-self: center;
  border: none;
  font-weight: bolder;
  font-size: 1.3rem;
  
}
dialog button{
  padding: 3px 20px;
  margin: 10px 0px;
  background-color: #000000;
  color: rgb(255, 255, 255);
  border-radius: 3px;
  font-size: small;
  font-family: "Quicksand", sans-serif;
  
}
dialog button:hover{
  border: 3px solid white;
  inset: 1rem;
}
dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.759); /* Semi-transparent black */
 }

 .main_result{
  font-family: "Handjet", sans-serif;
  font-weight: bold;
  font-size: 2rem;
 }

 dialog strong{
  color: rgb(251, 15, 15);
 }



/* challenge_components */

